body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
}

.login-form {
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.form-control {
    border: 1px solid #007bff;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
